{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/carrito.js' %}"></script>
    <title>Cerveza</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">DrunkNinja</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="login.html">Entrar</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'carrito' %}">Carrito</a></li>
            <a class="nav-link " href="#">
                <i class="fas fa-user user-icon"></i> 
            </a>
        </ul>
    </nav>

    <header class="banner">
        <h1>Cerveza</h1>
    </header>

    <main>
        <ul class="games-list">
            <li>
                <a href="#" class="card-link">
                    <img src="{% static 'img/cerveza1.png' %}" />
                    <div class="juego-text">
                        <h2>Six pack Kunstmann</h2>
                        <p>$8.000 CLP</p>
                        <form method="post" action="{% url 'add_to_cart' %}">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="quantity" value="1">
                            <button type="submit" class="add-to-cart-btn">Agregar al Carrito</button>
                        </form>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="card-link">
                    <img src="{% static 'img/cerveza2.jpg' %}" />
                    <div class="juego-text">
                        <h2>Six pack Corona</h2>
                        <p>$7.200 CLP</p>
                        <button type="button" id="addToCartButton" class="add-to-cart-btn" data-name="Six pack Corona" data-price="7200">Agregar al Carrito</button>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="card-link">
                    <img src="{% static 'img/cerveza3.webp' %}" />
                    <div class="juego-text">
                        <h2>Six pack Becker</h2>
                        <p>$4.500 CLP</p>
                        <button type="button" id="addToCartButton" class="add-to-cart-btn" data-name="Six pack Becker" data-price="4500">Agregar al Carrito</button>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="card-link">
                    <img src="{% static 'img/cerveza4.png' %}" />
                    <div class="juego-text">
                        <h2>Four pack Austral</h2>
                        <p>$8.000 CLP</p>
                        <button type="button" id="addToCartButton" class="add-to-cart-btn" data-name="Four pack Austral" data-price="8000">Agregar al Carrito</button>
                    </div>
                </a>
            </li>
           
        </ul>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <p class="footer-logo">DrunkNinja</p>
            </div>
            <div class="footer-center">            
                <a href="{% url 'index' %}">Volver al inicio</a>
            </div>
            <div class="footer-right">
                <img src="{% static 'img/ninja.jpg' %}" alt="ninja">
            </div>
        </div>
    </footer>
</body>
</html>