<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/svg+xml" href="{% static 'logo.svg' %}" />
    <script src="{% static 'js/carrito.js' %}"></script>
    <title><Datag>Drunk Ninja</Datag></title>

    <style>
        

        header.banner {
            display: flex;
            flex-direction: column;
        }

        /* Fondos links categorias */
        .category-accion        { background-image: url('static/img/cerveza.png'); }
        .category-aventura      { background-image: url('static/img/whisky.webp'); }
        .category-terror        { background-image: url('static/img/pisco.webp'); }
        .category-carreras      { background-image: url('static/img/ron.png'); }
        .category-supervivencia { background-image: url('static/img/vodka.jpg'); }

    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">DrunkNinja</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <!-- Usuario autenticado: Mostrar enlace para cerrar sesión -->
                    <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                {% else %}
                    <!-- Usuario no autenticado: Mostrar enlace para iniciar sesión -->
                    <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                {% endif %}
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'carrito' %}">Carrito</a></li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-user user-icon"></i> 
                </a>
            </li>
        </ul>
    </nav>

    <header class="banner">

        
        
    </header>
    
    <main>
            <nav class="cards">
                <ul>
                        <li><a href="{% url 'cerveza' %}" class="card-link category-accion"> Cerveza</a></li>
                        <li><a href="{% url 'whisky' %}" class="card-link category-aventura">Whisky</a></li>
                        <li><a href="{% url 'pisco' %}" class="card-link category-terror">Pisco</a></li>
                        <li><a href="{% url 'ron' %}" class="card-link category-carreras">Ron</a></li>
                        <li><a href="{% url 'vodka' %}" class="card-link category-supervivencia">Vodka</a></li>
                </ul>
            </nav>
    </main>

    <section class ="suggested-drinks">
        <h1 class="suggedted-text">Top Ventas</h1>
        <ul class="games-list">
            <li>
                <a href="#" class="card-link">
                    <img src="{% static 'img/cerveza1.png' %}" />
                    <div class="juego-text">
                        <h2>Six pack Kunstmann</h2>
                        <p>$8.000 CLP</p>
                        <button type="button" id="addToCartButton" class="add-to-cart-btn" data-name="Six pack Kunstmann" data-price="8000">Agregar al Carrito</button>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="card-link">
                    <img src="{% static 'img/pisco2.jpg' %}" />
                    <div class="juego-text">
                        <h2>Alto del Carmen</h2>
                        <p>$7.500 CLP</p>
                        <button type="button" id="addToCartButton" class="add-to-cart-btn" data-name="Alto del Carmen" data-price="7500">Agregar al Carrito</button>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="card-link">
                    <img src="{% static 'img/whisky1.jpg' %}" />
                    <div class="juego-text">
                        <h2>Jack Daniels</h2>
                        <p>$25.000 CLP</p>
                        <button type="button" id="addToCartButton" class="add-to-cart-btn" data-name="Jack Daniels" data-price="25000">Agregar al Carrito</button>
                    </div>
                </a>
            </li>
        </ul>
    </section>
    
    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <p class="footer-logo">DrunkNinja</p>
            </div>
            <div class="footer-center">            
                <a href="{% url 'index' %}">Volver al inicio</a>
            </div>
            <div class="footer-right">
                <img src="{% static 'img/ninja.jpg' %}" alt="ninja">
            </div>
        </div>
    </footer>
    
    
</body>
</html>