{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <title>Iniciar sesión</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">DrunkNinja</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'carrito' %}">Carrito</a></li>
            <a class="nav-link " href="#">
                <i class="fas fa-user user-icon"></i> 
            </a>
        </ul>
    </nav>

    <header class="banner">
        <h1>Iniciar sesión</h1>
    </header>

    <div class="login-form">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            {% if form.errors %} <!-- Muestra mensajes de error si existen -->
                <div class="error">
                    <p class="error">Por favor, corrija los siguientes errores:</p>
                    <ul class="error">
                        {% for error in form.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <p class="footer-logo">DrunkNinja</p>
            </div>
            <div class="footer-center">            
                <a href="{% url 'index' %}">Volver al inicio</a>
            </div>
            <div class="footer-right">
                <img src="{% static 'img/ninja.jpg' %}" alt="ninja">
            </div>
        </div>
    </footer>
</body>
</html>