{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/carrito.js' %}"></script>
    <title>Pisco</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">DrunkNinja</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="login.html">Entrar</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'carrito' %}">Carrito</a></li>
            <a class="nav-link " href="#">
                <i class="fas fa-user user-icon"></i> 
            </a>
        </ul>
    </nav>


    <header class="banner">
        <h1>Pisco</h1>
    </header>

    <main>
            <ul class="games-list">
                <li>
                    <a href="#" class="card-link">
                        <img src="{% static 'img/pisco1.jpg' %}" />
                        <div class="juego-text">
                            <h2>Mistral</h2>
                            <p>$8.000 CLP</p>
                            <button type="button" id="addToCartButton" class="add-to-cart-btn" data-name="Mistral" data-price="8000">Agregar al Carrito</button>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="card-link">
                        <img src="{% static 'img/pisco2.jpg' %}" />
                        <div class="juego-text">
                            <h2>Alto del Carmen</h2>
                            <p>$7.500 CLP</p>
                            <button type="button" id="addToCartButton" class="add-to-cart-btn" data-name="Alto del Carmen" data-price="7500">Agregar al Carrito</button>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="card-link">
                        <img src="{% static 'img/pisco3.jpg' %}" />
                        <div class="juego-text">
                            <h2>Gobernador</h2>
                            <p>$8.400 CLP</p>
                            <button type="button" id="addToCartButton" class="add-to-cart-btn" data-name="Gobernador" data-price="8400">Agregar al Carrito</button>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="card-link">
                        <img src="{% static 'img/pisco4.jpg' %}" />
                        <div class="juego-text">
                            <h2>Capel</h2>
                            <p>$6.300 CLP</p>
                            <button type="button" id="addToCartButton" class="add-to-cart-btn" data-name="Capel" data-price="6300">Agregar al Carrito</button>
                        </div>
                    </a>
                </li>
            </ul>
            
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <p class="footer-logo">DrunkNinja</p>
            </div>
            <div class="footer-center">            
                <a href="{% url 'index' %}">Volver al inicio</a>
            </div>
            <div class="footer-right">
                <img src="{% static 'img/ninja.jpg' %}" alt="ninja">
            </div>
        </div>
    </footer>
</body>
</html>